.blockZombieMovies {
  @apply grid gap-16;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  @screen md {
    @apply grid-cols-12;
  }

  & .zombieCard {
    @apply col-span-1 md:col-span-4 bg-transparent w-full text-white dark:text-white;

    height: 417px;
    perspective: 1000px;

    &:hover {
      & .zombieCardInner {
        transform: rotateY(180deg);
      }
    }

    & .zombieCardInner {
      @apply relative w-full h-full text-center;

      transition: transform 0.8s;
      transform-style: preserve-3d;

      & img {
        height: 417px !important;
      }
    }

    & .zombieCardFront,
    & .zombieCardBack {
      @apply absolute w-full h-full;

      backface-visibility: hidden;
    }

    & .zombieCardBack {
      @apply flex flex-col justify-center bg-green-400 p-4;

      transform: rotateY(180deg);
    }
  }

  & .zombieTitle {
    @apply text-center text-white dark:text-white;

    font-size: 2.5rem !important;
    line-height: 35px !important;
  }
}
