.header {
  @apply sticky top-0 py-4 transition-all;

  z-index: 100;

  & .search {
    @apply mb-8 w-full max-w-5xl mx-auto h-0 overflow-y-hidden;

    transition: all 0.3s ease-out;

    @screen lg {
      @apply mb-4;
    }

    & > div {
      @apply w-full;
    }

    & .input {
      @apply mx-auto w-full;

      @screen lg {
        @apply mx-0 ml-auto;
      }
    }
  }

  & .isVisible {
    @apply visible h-9;
  }

  & .navigation {
    @apply flex flex-col items-center;

    & li:nth-child(odd) {
      & a {
        &:hover,
        &:focus {
          transform: rotate(-6deg);
        }
      }
    }

    & a {
      @apply text-2xl text-red-700;

      font-family: 'Creepster', cursive;

      &:hover,
      &:focus {
        transform: rotate(6deg);
      }
    }

    @screen lg {
      @apply flex-row justify-between;
    }

    & .logo {
      @apply mb-8 w-72 h-auto;

      @screen lg {
        @apply mb-0;
      }
    }
  }
}

.skip {
  @apply absolute text-sm p-2;

  top: -200px;
  left: -200px;
  z-index: 9999;
  background: #fff;

  &:focus {
    @apply visible opacity-100;

    top: 10px;
    left: 10px;
  }
}
