.templateHeader {
  @apply mx-auto my-4;

  & .search-button {
    position: absolute;
    left: -10px;
    background: green;
    border-radius: 100%;
    padding: 10px;
    top: 15px;
    transform: rotate(349deg);

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 0;
      z-index: 1;
      border-style: solid;
      border-width: 0 20px 23px 0;
      border-color: transparent green transparent transparent;
      bottom: -18px;
      left: 50%;
      margin-left: -10px;
    }
  }
}
