.templateHeader {
  @apply mx-auto my-4;

  & .searchButton {
    @apply font-bold lowercase;

    & span {
      @apply pr-2;
    }
  }
}

.dark,
.light {
  & body {
    & .templateHeader {
      &.headerSticky {
        @apply sticky;

        background-color: #161c2d;

        & .logoWrapper {
          & > div:first-child {
            @apply block;

            display: block !important;
          }

          & > div:last-child {
            @apply hidden;

            display: none !important;
          }
        }

        & .navigation {
          & a {
            @apply text-white dark:text-white;
          }
        }
      }
    }
  }
}

body {
  & .templateHeader:not(.headerSticky) {
    & .logoWrapper {
      & > div:first-child {
        @apply hidden;

        display: none !important;
      }

      & > div:last-child {
        @apply block;

        display: block !important;
      }
    }
  }
}

.dark {
  & body {
    & .templateHeader:not(.headerSticky) {
      & .logoWrapper {
        & > div:first-child {
          @apply block;

          display: block !important;
        }

        & > div:last-child {
          @apply hidden;

          display: none !important;
        }
      }
    }
  }
}
