#page-content {
  & .homepage {
    @apply pt-12;

    & .innerWrap {
      & > p {
        @apply text-2xl mb-10;
      }

      & > h1 {
        @apply mb-12 md:mb-24 text-center text-6xl;
      }

      & > h2 {
        @apply mb-12 md:mb-32 text-center text-4xl mx-auto max-w-3xl;
      }
    }

    & .button {
      @apply rounded-full bg-green-400 text-white py-6 px-8 border-0 mx-auto;
    }

    & .columns {
      @apply mt-48;

      & p {
        @apply mb-0 text-center text-purple-400;
      }

      & img {
        @apply w-full object-cover rounded-md;

        transition: all 0.4s ease 0s;
        height: 417px;

        &:hover {
          transform: scale(0.8) rotate(-16deg);
        }
      }
    }

    & .columns + div {
      @apply mt-24 mb-48;
    }

    & h2 {
      @apply text-center text-2xl mb-4;

      letter-spacing: 0;
    }
  }

  & .homepage-hero {
    margin: 32px calc(50% - 50vw);
    max-width: 100vw;
    width: 100vw;

    & > div {
      @apply max-w-5xl mx-auto;

      & p {
        @apply text-2xl uppercase;
      }

      & h1 {
        @apply text-8xl;
      }
    }
  }
}
