@layer base {
  /* Write your own custom base styles here if necessary - https://tailwindcss.com/docs/adding-base-styles#using-css */

  body {
    @apply overflow-x-hidden text-black dark:text-white bg-yellow-50 dark:bg-zombie-dark;

    background-image: url('/images/pattern.png');

    & .logoWrapper {
      & > div:first-child {
        @apply hidden;

        display: none !important;
      }

      & > div:last-child {
        @apply block;

        display: block !important;
      }
    }
  }

  .dark {
    & body {
      & .logoWrapper {
        & > div:last-child {
          @apply hidden;

          display: none !important;
        }

        & > div:first-child {
          @apply block;

          display: block !important;
        }
      }
    }
  }

  @font-face {
    font-family: 'Butcher';
    src: url('/fonts/butcher.woff'), url('/fonts/butcher.woff2');
    font-style: normal;
  }
}

a,
input,
button {
  @apply focus:outline-black focus-within:outline-black;

  &:focus-visible {
    @apply outline-black;
  }
}

h1,
h2,
h3 {
  @apply text-black dark:text-white font-bold;

  font-family: 'Inter', sans-serif;
  letter-spacing: -3px;
}

.button-dark-mode {
  width: 50px;
}

/* Write you own custom classes here if necessary */
@import 'homepage.css';
@import 'page.css';
@import 'archive.css';
@import 'header.css';
@import 'towatch.css';
