@layer base {
  /* Write your own custom base styles here if necessary - https://tailwindcss.com/docs/adding-base-styles#using-css */

  body {
    @apply overflow-x-hidden text-black dark:text-white bg-yellow-50 dark:bg-zombie-dark;

    background-image: url('/images/pattern.png');
  }
}

a,
input,
button {
  @apply focus:outline-black focus-within:outline-black;

  font-family: 'Inter', sans-serif;

  &:focus-visible {
    @apply outline-black;
  }
}

h1,
h2,
h3 {
  @apply text-black dark:text-white font-bold;

  font-family: 'Inter', sans-serif;
  letter-spacing: -3px;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.button-dark-mode {
  @apply fixed bottom-8 right-8;

  width: 50px;
  transform: translateY(0);
  animation: float 6s ease-in-out infinite;
}

/* Write you own custom classes here if necessary */
@import 'homepage.css';
@import 'page.css';
@import 'archive.css';
@import 'header.css';
@import 'projects.css';
