#page-content {
  & .template-page:not(.homepage) {
    @apply py-12;

    & img {
      @apply w-full object-cover;
    }

    & h1 {
      @apply text-8xl mb-24 text-center;
    }

    &.about {
      & .innerWrap {
        & > .columns {
          & > div {
            @apply flex flex-col justify-center;
          }
        }

        & h2 {
          @apply text-5xl mb-12;

          letter-spacing: -2px;
        }

        & p {
          @apply text-xl;

          line-height: 38px;
          letter-spacing: -0.5px;
        }
      }
    }

    &.contact {
      & input,
      & textarea {
        @apply w-full bg-transparent border-0 border-b-2 border-green-400 rounded-none outline-none;
      }

      & textarea {
        min-height: 200px;
      }

      & h2 {
        letter-spacing: -1px;
      }
    }
  }

  & .template-single {
    & img {
      @apply w-full object-cover;
    }

    & h1 {
      @apply text-8xl mb-24 text-center;
    }

    & section {
      & p,
      & h2 {
        @apply font-bold text-5xl text-center;
      }
    }

    & .comment-form {
      background-color: #161c2d;

      & label {
        @apply font-light;

        &::after {
          @apply text-gray-300;
        }
      }

      & input {
        @apply rounded-none w-full border-gray-50 border-0 border-b bg-transparent outline-none;
      }
    }

    & .comments-heading {
      @apply my-14 text-center text-6xl;
    }
  }
}
